<h1>Registre suas andanças de amor</h1>
<p>Você não quer esquecer daquele dia...</p>

<span (mousemove)="bagunca($event)">{{title}}</span>

<button (click)="mudaTitle()">Troca título</button>

@if (seletor) {
<h2>O outra Santiago inspirou esta aplicação</h2>
} @else {
<h2>Nós temos um segredo...</h2>
}

<ol>
  @for (item of lista; track $index) {
  <li id="{{$index}}" (mousemove)="bagunca($event)">{{item}}</li>
  }
</ol>
<hr>
<nav>
  <div class="menu">
    <a routerLink="profile" routerLinkActive="amigoDoMagalhaes">Home</a>
    <a routerLink="cadastro" routerLinkActive="amigoDoMagalhaes">Cadastro</a>
    <a routerLink="about" routerLinkActive="amigoDoMagalhaes">About</a>
    <a routerLink="veiculos" routerLinkActive="amigoDoMagalhaes">Veiculos</a>
  </div>
</nav>
<hr>
<router-outlet></router-outlet>

<h2>Eu venho depois</h2>